@import "../styles/Variables.modules";


.gallery-container{
    width: 100%;
    height: 100vh;
    background-color: $navbarcolor;
    //background-image: url($galleryBG);
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexCenter();
    flex-direction: column;
    
    padding: 500px;

    h1{
        font-size: 40px;
        margin-bottom: 35px;
    }
}


.gallery-content-container{    
    @include flexCenter();
    // background-color: gray;
    height: 720px;
    width: 100%;

    div{
        border-radius: 10px;
    }
    
    .screenshots-container{
        @include flexCenter();
        filter: brightness(0.9);
        height: 700px;
        width: 500px;
        //background-color: green;
        background-image: url($galleryBG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        &:hover{
            
        filter: brightness(1.5);
            transform: scale(1.05);
            transition-duration: 0.5s;
            background-position: right;
        }        
    }


    .gallery-right-side{
        @include flexCenter();
        height: 700px;
        width: 800px;
        flex-direction: column;
        
        .gallery-box2{
            display: flex;
            flex-direction: row;
            width: 800px;
            height: 350px;

            .styles-container{
                @include flexCenter();
                width: 400px;
                height: 350px;
                background-color:orange;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                }
            }

            .uniform-container{
                @include flexCenter();
                width: 400px;
                height: 350px;
                background-color: rgb(100, 100, 54);
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                }
            }
           
        }

        .gallery-box3{
            display: flex;
            flex-direction: row;
            width: 800px;
            height: 350px;

            .guides-container{
                width: 266px;
                height: 350px;
                background-color: yellow;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                }
            }
            .gear-container{
                width: 266px;
                height: 350px;
                background-color:blue;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                }
            }
            .lifeskills-container{
                width: 266px;
                height: 350px;
                background-color:red;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                }
            }
        }
    }



}