@import "../styles/Variables.modules";


.gallery-container{
    width: 100%;
    height: 100vh;
    background-color: $navbarcolor;
    background-image: url($galleryBG);
    background-position: right;
    background-size: 150%;
    background-repeat: no-repeat;
    @include flexCenter();
    flex-direction: column;
    
    padding: 500px;

    h1{
        font-size: 40px;
        margin-bottom: 35px;
    }

    h2{
        font-size: 35px;
        margin-bottom: 35px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border-radius: 10px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}


.gallery-content-container{    
    @include flexCenter();
    // background-color: gray;
    height: 720px;
    width: 100%;

    div{
        border-radius: 10px;
    }
    
    .screenshots-container{
        @include flexCenter();
        height: 700px;
        width: 500px;
        //background-color: green;
        background-image: url($screenshotBG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        &:hover{            
            filter: brightness(1.5);
            transform: scale(1.05);
            transition-duration: 0.5s;
            background-position: right;
        }
               
    }


    .gallery-right-side{
        @include flexCenter();
        height: 700px;
        width: 800px;
        flex-direction: column;
        
        .gallery-box2{
            display: flex;
            flex-direction: row;
            width: 800px;
            height: 350px;

            .styles-container{
                @include flexCenter();
                width: 400px;
                height: 350px;
                background-image: url($stylesBG);
                background-repeat: no-repeat;
                background-position: bottom;
                background-color:orange;
                background-size: 300%;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                    background-position: center;
                    background-size: 170%;
                    
                }
            }

            .uniform-container{
                @include flexCenter();
                width: 400px;
                height: 350px;
                background-color: green;
                background-size: 320%;
                background-position: top right;
                background-image: url($uniformBG);
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.5s;
                    background-position: top;
                }                
              
            }
           
        }

        .gallery-box3{
            display: flex;
            flex-direction: row;
            width: 800px;
            height: 350px;

            .guides-container{
                @include flexCenter();
                width: 266px;
                height: 350px;
                background-image: url($guideBG);
                background-size: 300%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgb(146, 146, 53);
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                    background-position: top;
                }
            }
            .gear-container{
                @include flexCenter();
                width: 266px;
                height: 350px;
                background-image: url($gearBG);
                background-size: 175%;
                background-position: center;
                background-repeat: no-repeat;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                    background-position: top;
                }
              

            }
            .lifeskills-container{
                @include flexCenter();
                width: 266px;
                height: 350px;
                background-image: url($lifeskillsBG);
                background-size: cover;
                background-position: left;
                background-repeat: no-repeat;
                background-color:red;
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 0.3s;
                    background-size: cover;
                    background-position: bottom center;
                }
            }
        }
    }



}