@import "../styles/Variables.modules";

.home-container{
    @include flexCenter();    
    height: 100vh;
    width: 100%;
    //background-image: url($galleryBG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(31, 31, 31);
    background-size: fill;
    background-position: top;
    
}

.mainpage-text-container{
    
    h1{
        font-size: 100px;
        font-weight: bold;
    }
    h3{
        font-size: 25px;
    }

    button{
        @extend .homeButton;
        margin: 60px;
        height: 80px;
        width: 300px;
        
    }


}