@import "../styles/Variables.modules";

.navbar-container {   
    height: 75px;
    width: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.burger-container{
   @include flexCenter();
   display: none;
   margin-right: 5px;
   width: 25px;
   height: 25px;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
   &:hover{
    div{
        background-color:rgb(207, 207, 207);
    }
   } 

   .block1, .block2, .block3{
    border-radius: 1em;
    background: white;
    height: 3px;
    width: 30px;   
   }
}

.nav-logo-container{
    width: 500px;    
    img{
        width: 55px;
        height: 55px;
        margin-right: 20px;
        @include flexCenter();
        border-radius: 0;
        border: 0;
    }

    @include flexCenter(); 

    h2{
        font-size: 25px;
    }
    h5{
        display: none;
        font-size: 10px;
    }
}


.nav-sections-container{
  .cross-x{
    display: none;
    }

   ul{
    display: flex;
    margin-right: 170px;
    
   }
    li{
        list-style: none;
        text-decoration: none;        
        a{
            font-size: 22px;
            font-weight: 700;
            margin-right: 30px;
            margin-left: 30px; 
            cursor: pointer;
            &:hover{
                color: rgb(207, 207, 207);
    
            }
        }
    }
       
}

.input-container{
    input{
        @extend .searchbar;
    }
}

.buttons-container {
    button {
        @extend .generalButton;
    }
}

.lang-container{
    @include flexCenter();
    //background-color: red;
    position: relative;
    padding-top: 17px;    
    width: 80px;
    height: 35px;
    


.lang-content{
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style: none;    
    border-radius: 0.9em;
    width: 80px;
    height: 50px;
    color: black;
    cursor: pointer;

   
    
    .list-BR, .list-ES{
        display: none;
    }
   
    .lang-Active{
        display: flex;
        }
    
    li{
        @include flexCenter();
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 14px;
        background-color: rgba($color: #707070, $alpha: 0.5);
        width: 80px;
        height: 35px;
        border-radius: 0.9em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 20px;
        &:hover{
            background-color: rgba($color: #c9c9c9, $alpha: 0.5);
        }
        
    }


   


    div{
        @include flexCenter();
        flex-direction: row;
    }

    img{      
        width: 25px;
        height: 20px;
        border-radius: 5px;
        margin-right: 5px;
    }
}

}


//RESPONSIVE FOR 1280X720


@media screen and (max-width: 1280px) {

    .nav-sections-container{
        ul{
         display: flex;
         margin-right: 100px;
         
        }
         li{
             list-style: none;
             text-decoration: none;        
             a{
                 
                 font-weight: 700;
                 margin-right: 30px;
                 margin-left: 30px; 
                 cursor: pointer;
                 &:hover{
                     color: rgb(207, 207, 207);
         
                 }
             }
         }
            
     }
    .buttons-container{
        margin-right: 20px;
    }
     .lang-container{
        margin-right: 20px;
        width: 100px;
        height: 35px;
    }  
  }

  //MOBILE RESOLUTION
  @media screen and (max-width: 768px) {
    .burger-container{     
        position: absolute;
        right: 15px;
        display: flex;        
    }

    .nav-logo-container{        
        img{
            width: 40px;
            height: 40px;
            margin-right: 10px;
            margin-left: 35px;
        }
        h2{
            font-size: 20px;
        }
        
    }

    .lang-container{
        position: absolute;
        width: 70px;
        height: 35px;
        left: 25px;        
       }

    .nav-sections-container{
    @include flexCenter();
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100vh;
    right: -800px;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.9);
    transition-duration: 0.4s;
    z-index: 3;    
    
    .cross-x{
        @include flexCenter();
        position: absolute;
        margin: 10px;
        right: 0;
        top: 0;
        background-color: rgba($color: #424242, $alpha: 0.5);
        border-radius: 50%;
        width: 50px;
        height: 50px;

        .rec1{
            position: absolute;
            width: 25px;
            height: 4px;
            border-radius: 1em;
            background-color: white;
            transform: rotate(45deg);
        }
        
        .rec2{
            position: absolute;
            width: 25px;
            height: 4px;
            border-radius: 1em;
            background-color: white;
            transform: rotate(-45deg);
        }
    }
    
    ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        
    li{ 
        flex-direction: column;
        margin: 45px;
        
        a{
            font-size: 22px;
        }   
    
    }

   }

}

.burger-active{
    right: 0px;
   }
   .buttons-container{
    display: none;
   }
    
}