@import "../styles/Variables.modules";

.navbar-container {   
    height: 80px;
    width: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.nav-logo-container{
    width: 500px;
    justify-content: space-between;
    img{
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border-radius: 0;
        border: 0;
    }
    @include flexCenter(); 
}


.nav-sections-container{
   ul{
    display: flex;
    margin-right: 170px;
    
   }
    li{
        list-style: none;
        text-decoration: none;        
        a{
            font-size: 22px;
            font-weight: 700;
            margin-right: 30px;
            margin-left: 30px; 
            cursor: pointer;
            &:hover{
                color: rgb(207, 207, 207);
    
            }
        }
    }
       
}

.input-container{
    input{
        @extend .searchbar;
    }
}

.buttons-container {
    button {
        @extend .generalButton;
    }
}

.lang-container{
    @include flexCenter();
    right: 0;
    background-color: gray;
    width: 60px;
    height: 30px;
    color: black;
    cursor: pointer;
}

