$navbarcolor: rgb(24, 24, 24);
$homebgcolor: rgb(44, 44, 44);
$buttoncolor: #b89358;
$hoverbutton: #927649;


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.generalButton{
    background-color: $buttoncolor;
    width: 180px;
    height: 40px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-weight: 800;    
    font-size: 22px;
    cursor: pointer;
    &:hover{
        background-color: $hoverbutton;
    }
}

.homeButton{
    background-color: $buttoncolor;
    height: 80px;
    width: 300px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-weight: 800;    
    font-size: 22px;
    cursor: pointer;
    &:hover{
        background-color: $hoverbutton;
    }
}

.searchbar{
    background-color: white;
    margin: 10px;
    width: 250px;
    height: 25px;
    border: 0;
    border-radius: 2px;
}