@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
.generalButton, .buttons-container button {
  background-color: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .mainpage-text-container button, .application-content .application-left-content button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.homeButton:hover, .mainpage-text-container button:hover, .application-content .application-left-content button:hover {
  background-color: #927649;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

.navbar-container {
  height: 80px;
  width: 100%;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 3;
}

.nav-logo-container {
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav-logo-container img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 0;
  border: 0;
}

.nav-sections-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 170px;
}

.nav-sections-container li {
  list-style: none;
  text-decoration: none;
}

.nav-sections-container li a {
  font-size: 22px;
  font-weight: 700;
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.nav-sections-container li a:hover {
  color: #cfcfcf;
}

.lang-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  right: 0;
  background-color: gray;
  width: 60px;
  height: 30px;
  color: black;
  cursor: pointer;
}

.generalButton, .buttons-container button {
  background-color: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .mainpage-text-container button, .application-content .application-left-content button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.homeButton:hover, .mainpage-text-container button:hover, .application-content .application-left-content button:hover {
  background-color: #927649;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1046815806866083893/1046884744970907648/bghomeblur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1f1f1f;
  background-size: fill;
  background-position: top;
}

.mainpage-text-container h1 {
  font-size: 100px;
  font-weight: bold;
}

.mainpage-text-container h3 {
  font-size: 25px;
}

.mainpage-text-container button {
  margin: 60px;
  height: 80px;
  width: 300px;
}

.generalButton, .buttons-container button {
  background-color: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .mainpage-text-container button, .application-content .application-left-content button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.homeButton:hover, .mainpage-text-container button:hover, .application-content .application-left-content button:hover {
  background-color: #927649;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f;
}

.about-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}

.about-content-container .leader-image-container {
  width: 500px;
  height: 600px;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-content-container .leader-image-container img {
  background-color: #00007a;
  width: 400px;
  height: 500px;
}

.about-content-container .about-text-container {
  width: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-content-container .about-text-container h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content-container .about-text-container p {
  font-size: 20px;
  margin-bottom: 25px;
}

.generalButton, .buttons-container button {
  background-color: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .mainpage-text-container button, .application-content .application-left-content button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.homeButton:hover, .mainpage-text-container button:hover, .application-content .application-left-content button:hover {
  background-color: #927649;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

.gallery-container {
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 500px;
}

.gallery-container h1 {
  font-size: 40px;
  margin-bottom: 35px;
}

.gallery-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 720px;
  width: 100%;
}

.gallery-content-container div {
  border-radius: 10px;
}

.gallery-content-container .screenshots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 700px;
  width: 500px;
  background-image: url("https://cdn.discordapp.com/attachments/1046815806866083893/1046883559538954342/gallerybgedited.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.gallery-content-container .screenshots-container:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-position: right;
}

.gallery-content-container .gallery-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 700px;
  width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-content-container .gallery-right-side .gallery-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800px;
  height: 350px;
}

.gallery-content-container .gallery-right-side .gallery-box2 .styles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 400px;
  height: 350px;
  background-color: orange;
}

.gallery-content-container .gallery-right-side .gallery-box2 .styles-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.gallery-content-container .gallery-right-side .gallery-box2 .uniform-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 400px;
  height: 350px;
  background-color: green;
  background-size: 320%;
  background-position: top right;
  background-image: url("https://cdn.discordapp.com/attachments/1046815806866083893/1046904682418802819/uniformbgbdo.jpg");
}

.gallery-content-container .gallery-right-side .gallery-box2 .uniform-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-position: top;
}

.gallery-content-container .gallery-right-side .gallery-box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800px;
  height: 350px;
}

.gallery-content-container .gallery-right-side .gallery-box3 .guides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 266px;
  height: 350px;
  background-color: #929235;
}

.gallery-content-container .gallery-right-side .gallery-box3 .guides-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.gallery-content-container .gallery-right-side .gallery-box3 .gear-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 266px;
  height: 350px;
  background-image: url("https://cdn.discordapp.com/attachments/1046815806866083893/1046893327024402541/uniform.jpg");
  background-size: 175%;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-content-container .gallery-right-side .gallery-box3 .gear-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-position: top;
}

.gallery-content-container .gallery-right-side .gallery-box3 .lifeskills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 266px;
  height: 350px;
  background-color: red;
}

.gallery-content-container .gallery-right-side .gallery-box3 .lifeskills-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.generalButton, .buttons-container button {
  background-color: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .mainpage-text-container button, .application-content .application-left-content button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.homeButton:hover, .mainpage-text-container button:hover, .application-content .application-left-content button:hover {
  background-color: #927649;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

.application-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #2c2c2c;
  background-image: url("https://cdn.discordapp.com/attachments/1046815806866083893/1046840390889775195/applybgedited.jpg");
  background-position: center;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 450px;
}

.application-container h1 {
  font-size: 40px;
  margin-bottom: 35px;
}

.application-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.application-content .application-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 650px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1em;
}

.application-content .application-left-content .application-text-container h1 {
  font-size: 50px;
}

.application-content .application-left-content .application-text-container p {
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.application-content .application-right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 650px;
  height: 700px;
  background-color: " green";
}

.application-content .application-right-content img {
  width: 650px;
  height: 700px;
  background-color: " greenyellow";
}

.generalButton, .buttons-container button {
  background-color: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .mainpage-text-container button, .application-content .application-left-content button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}

.homeButton:hover, .mainpage-text-container button:hover, .application-content .application-left-content button:hover {
  background-color: #927649;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

.footer-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #0c0c0c;
}

.top-footer-container {
  margin: 0;
  background-color: #0c0c0c;
  width: 100%;
  height: 20px;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 455px;
}

.footer-content-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 455px;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-content-container .footer-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 75%;
  padding: 10px;
  font-size: 20px;
  text-align: start;
}

.footer-content-container .footer-content .footer-content-image {
  width: 15%;
}

.footer-content-container .footer-content .footer-content-image img {
  border: 0;
  width: 130px;
  height: 130px;
}

.footer-content-container .footer-content-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #0c0c0c;
  height: 455px;
  width: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer-content-container .footer-content-socials .discord-container, .footer-content-container .footer-content-socials .twitter-container, .footer-content-container .footer-content-socials .instagram-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 20px;
  margin-bottom: -30px;
  cursor: pointer;
  text-align: start;
  font-size: 25px;
  font-weight: 800;
  background-color: #0c0c0c;
  width: 220px;
  height: 40px;
}

.footer-content-container .footer-content-socials .discord-container p, .footer-content-container .footer-content-socials .twitter-container p, .footer-content-container .footer-content-socials .instagram-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.footer-content-container .footer-content-socials .discord-container img, .footer-content-container .footer-content-socials .twitter-container img, .footer-content-container .footer-content-socials .instagram-container img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.footer-content-container .footer-content-socials .stacks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  margin-top: 35px;
}

.footer-content-container .footer-content-socials .stacks-container .stacks-container-images {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-content-container .footer-content-socials .stacks-container .stacks-container-images img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.all-rights-container {
  background-color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 25px;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

* img {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/*# sourceMappingURL=globals.css.map */