@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
.generalButton, .buttons-container button {
  background: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .application-content .application-left-content button, .mainpage-text-container button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.homeButton:hover, .application-content .application-left-content button:hover, .mainpage-text-container button:hover {
  background-color: #927649;
}

.discordButton, .application-content .application-left-content .discord-button {
  background-color: #6b81cf;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.discordButton:hover, .application-content .application-left-content .discord-button:hover {
  background-color: #5465a3;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

@media screen and (max-width: 1280px) {
  .discordButton, .application-content .application-left-content .discord-button {
    height: 70px;
    width: 280px;
  }
  .homeButton, .application-content .application-left-content button, .mainpage-text-container button {
    height: 70px;
    width: 280px;
  }
}
.navbar-container {
  height: 75px;
  width: 100%;
  background-color: rgb(24, 24, 24);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}

.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger-container:hover div {
  background-color: rgb(207, 207, 207);
}
.burger-container .block1, .burger-container .block2, .burger-container .block3 {
  border-radius: 1em;
  background: white;
  height: 3px;
  width: 30px;
}

.nav-logo-container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-logo-container img {
  width: 55px;
  height: 55px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0;
  border: 0;
}
.nav-logo-container h2 {
  font-size: 25px;
}
.nav-logo-container h5 {
  display: none;
  font-size: 10px;
}

.nav-sections-container .cross-x {
  display: none;
}
.nav-sections-container ul {
  display: flex;
  margin-right: 170px;
}
.nav-sections-container li {
  list-style: none;
  text-decoration: none;
}
.nav-sections-container li a {
  font-size: 22px;
  font-weight: 700;
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.nav-sections-container li a:hover {
  color: rgb(207, 207, 207);
}

.lang-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 17px;
  width: 80px;
  height: 35px;
}
.lang-container .lang-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
  border-radius: 0.9em;
  width: 80px;
  height: 50px;
  color: black;
  cursor: pointer;
}
.lang-container .lang-content .list2, .lang-container .lang-content .list3 {
  display: none;
}
.lang-container .lang-content .lang-Active {
  display: flex;
}
.lang-container .lang-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  background-color: rgba(112, 112, 112, 0.5);
  width: 80px;
  height: 35px;
  border-radius: 0.9em;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.lang-container .lang-content li:hover {
  background-color: rgba(201, 201, 201, 0.5);
}
.lang-container .lang-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.lang-container .lang-content img {
  width: 25px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 1280px) {
  .nav-sections-container ul {
    display: flex;
    margin-right: 100px;
  }
  .nav-sections-container li {
    list-style: none;
    text-decoration: none;
  }
  .nav-sections-container li a {
    font-weight: 700;
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
  .nav-sections-container li a:hover {
    color: rgb(207, 207, 207);
  }
  .buttons-container {
    margin-right: 20px;
  }
  .lang-container {
    margin-right: 20px;
    width: 100px;
    height: 35px;
  }
}
@media screen and (max-width: 768px) {
  .burger-container {
    position: absolute;
    right: 15px;
    display: flex;
  }
  .nav-logo-container img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 35px;
  }
  .nav-logo-container h2 {
    font-size: 20px;
  }
  .lang-container {
    position: absolute;
    width: 70px;
    height: 35px;
    left: 20px;
  }
  .nav-sections-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100vh;
    right: -800px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition-duration: 0.4s;
    z-index: 3;
  }
  .nav-sections-container .cross-x {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    margin: 10px;
    right: 0;
    top: 0;
    background-color: rgba(66, 66, 66, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .nav-sections-container .cross-x .rec1 {
    position: absolute;
    width: 25px;
    height: 4px;
    border-radius: 1em;
    background-color: white;
    transform: rotate(45deg);
  }
  .nav-sections-container .cross-x .rec2 {
    position: absolute;
    width: 25px;
    height: 4px;
    border-radius: 1em;
    background-color: white;
    transform: rotate(-45deg);
  }
  .nav-sections-container ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .nav-sections-container ul li {
    flex-direction: column;
    margin: 45px;
  }
  .nav-sections-container ul li a {
    font-size: 22px;
  }
  .burger-active {
    right: 0px;
  }
  .buttons-container {
    display: none;
  }
}
.generalButton, .buttons-container button {
  background: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .application-content .application-left-content button, .mainpage-text-container button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.homeButton:hover, .application-content .application-left-content button:hover, .mainpage-text-container button:hover {
  background-color: #927649;
}

.discordButton, .application-content .application-left-content .discord-button {
  background-color: #6b81cf;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.discordButton:hover, .application-content .application-left-content .discord-button:hover {
  background-color: #5465a3;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

@media screen and (max-width: 1280px) {
  .discordButton, .application-content .application-left-content .discord-button {
    height: 70px;
    width: 280px;
  }
  .homeButton, .application-content .application-left-content button, .mainpage-text-container button {
    height: 70px;
    width: 280px;
  }
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120vh;
  width: 100%;
  background-image: url("/bghomeblur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(31, 31, 31);
  background-size: fill;
  background-position: top;
}

.mainpage-text-container h1 {
  font-size: 100px;
  font-weight: bold;
}
.mainpage-text-container h3 {
  font-size: 25px;
}
.mainpage-text-container button {
  margin: 60px;
  height: 80px;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .home-container {
    height: 110vh;
  }
  .mainpage-text-container h1 {
    font-size: 70px;
  }
  .mainpage-text-container h3 {
    font-size: 18px;
  }
  .mainpage-text-container button {
    margin: 45px;
  }
}
.generalButton, .buttons-container button {
  background: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .application-content .application-left-content button, .mainpage-text-container button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.homeButton:hover, .application-content .application-left-content button:hover, .mainpage-text-container button:hover {
  background-color: #927649;
}

.discordButton, .application-content .application-left-content .discord-button {
  background-color: #6b81cf;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.discordButton:hover, .application-content .application-left-content .discord-button:hover {
  background-color: #5465a3;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

@media screen and (max-width: 1280px) {
  .discordButton, .application-content .application-left-content .discord-button {
    height: 70px;
    width: 280px;
  }
  .homeButton, .application-content .application-left-content button, .mainpage-text-container button {
    height: 70px;
    width: 280px;
  }
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 120vh;
  background-image: url("/aboutbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(31, 31, 31);
}

.about-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}
.about-content-container .leader-image-container {
  width: 500px;
  height: 600px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-content-container .leader-image-container img {
  opacity: 0.6;
  width: 600px;
  height: 600px;
}
.about-content-container .about-text-container {
  width: 700px;
  flex-direction: column;
}
.about-content-container .about-text-container h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-content-container .about-text-container h2 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 45px;
}
.about-content-container .about-text-container p {
  font-size: 20px;
  margin-bottom: 25px;
}
.about-content-container .about-text-container li {
  list-style: none;
  margin-bottom: 10px;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px;
}
.about-content-container .about-text-container li:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

@media screen and (max-width: 1280px) {
  .about-container {
    height: 180vh;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .about-container {
    height: 180vh;
    flex-direction: column;
  }
  .about-container .about-content-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-container .about-content-container .leader-image-container {
    display: none;
    height: 500px;
    width: 500px;
    margin-right: 0;
  }
  .about-container .about-content-container .leader-image-container img {
    display: none;
    width: 350px;
    height: 400px;
  }
  .about-container .about-content-container .about-text-container h3 {
    font-size: 36px;
  }
  .about-container .about-content-container .about-text-container h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .about-container .about-content-container .about-text-container p {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .about-container .about-content-container .about-text-container li:hover {
    transform: scale(1.1);
  }
}
.generalButton, .buttons-container button {
  background: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .application-content .application-left-content button, .mainpage-text-container button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.homeButton:hover, .application-content .application-left-content button:hover, .mainpage-text-container button:hover {
  background-color: #927649;
}

.discordButton, .application-content .application-left-content .discord-button {
  background-color: #6b81cf;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.discordButton:hover, .application-content .application-left-content .discord-button:hover {
  background-color: #5465a3;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

@media screen and (max-width: 1280px) {
  .discordButton, .application-content .application-left-content .discord-button {
    height: 70px;
    width: 280px;
  }
  .homeButton, .application-content .application-left-content button, .mainpage-text-container button {
    height: 70px;
    width: 280px;
  }
}
.gallery-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(12, 12, 12);
  background-image: url("/gallerybg.jpg");
  background-position: right;
  background-size: 150%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 500px;
}
.gallery-container h1 {
  font-size: 40px;
  margin-bottom: 35px;
}
.gallery-container h2 {
  font-size: 35px;
  margin-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.gallery-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 720px;
  width: 100%;
}
.gallery-content-container div {
  border-radius: 10px;
}
.gallery-content-container .screenshots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
  width: 500px;
  background-image: url("/gallerybgedited.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.gallery-content-container .screenshots-container:hover {
  filter: brightness(1.5);
  transform: scale(1.05);
  transition-duration: 0.5s;
  background-position: right;
}
.gallery-content-container .gallery-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
  width: 800px;
  flex-direction: column;
}
.gallery-content-container .gallery-right-side .gallery-box2 {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 350px;
}
.gallery-content-container .gallery-right-side .gallery-box2 .styles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 350px;
  background-image: url("https://i1.wp.com/mundodrix.com.br/site/wp-content/uploads/2019/06/2019-06-14_195609049.jpg?fit=1608%2C908&ssl=1");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: orange;
  background-size: 300%;
}
.gallery-content-container .gallery-right-side .gallery-box2 .styles-container:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  background-position: center;
  background-size: 177%;
}
.gallery-content-container .gallery-right-side .gallery-box2 .uniform-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 350px;
  background-color: green;
  background-size: 320%;
  background-position: top right;
  background-image: url("/uniformbgbdo.jpg");
}
.gallery-content-container .gallery-right-side .gallery-box2 .uniform-container:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  background-position: top;
}
.gallery-content-container .gallery-right-side .gallery-box3 {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 350px;
}
.gallery-content-container .gallery-right-side .gallery-box3 .guides-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 266px;
  height: 350px;
  background-image: url("/sage.jpg");
  background-size: 300%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(146, 146, 53);
}
.gallery-content-container .gallery-right-side .gallery-box3 .guides-container:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  background-position: top;
}
.gallery-content-container .gallery-right-side .gallery-box3 .gear-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 266px;
  height: 350px;
  background-image: url("/uniform.jpg");
  background-size: 175%;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-content-container .gallery-right-side .gallery-box3 .gear-container:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  background-position: top;
}
.gallery-content-container .gallery-right-side .gallery-box3 .lifeskills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 266px;
  height: 350px;
  background-image: url("https://s1.pearlcdn.com/TR/Upload/WIKI/8006dfe6aa820171105113140406.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: red;
}
.gallery-content-container .gallery-right-side .gallery-box3 .lifeskills-container:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  background-size: cover;
  background-position: bottom center;
}

@media screen and (max-width: 1280px) {
  .gallery-container {
    background-size: cover;
  }
  .gallery-content-container {
    width: 1200px;
  }
  .gallery-content-container .screenshots-container {
    height: 600px;
    width: 400px;
  }
  .gallery-content-container .gallery-right-side {
    height: 600px;
    width: 700px;
  }
  .gallery-content-container .gallery-right-side .gallery-box2 {
    width: 700px;
    height: 300px;
  }
  .gallery-content-container .gallery-right-side .gallery-box2 .styles-container {
    width: 350px;
    height: 300px;
  }
  .gallery-content-container .gallery-right-side .gallery-box2 .uniform-container {
    width: 350px;
    height: 300px;
  }
  .gallery-content-container .gallery-right-side .gallery-box3 {
    width: 700px;
    height: 300px;
  }
  .gallery-content-container .gallery-right-side .gallery-box3 .guides-container {
    width: 233px;
    height: 300px;
    background-size: 300%;
  }
  .gallery-content-container .gallery-right-side .gallery-box3 .gear-container {
    width: 233px;
    height: 300px;
  }
  .gallery-content-container .gallery-right-side .gallery-box3 .lifeskills-container {
    width: 233px;
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .gallery-container {
    padding: 0;
    height: 350vh;
    flex-direction: column;
    margin: 0;
    background-size: cover;
    background-position: top;
  }
  .gallery-container h1 {
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 0;
  }
  .gallery-container .gallery-content-container {
    flex-direction: column;
    justify-content: start;
    height: 350vh;
  }
  .gallery-container .gallery-content-container .screenshots-container {
    width: 360px;
    height: 500px;
  }
  .gallery-container .gallery-right-side {
    flex-direction: column;
    width: 360px;
    height: 900px;
  }
  .gallery-container .gallery-right-side .gallery-box2 {
    flex-direction: column;
    width: 360px;
    height: 650px;
  }
  .gallery-container .gallery-right-side .gallery-box2 .styles-container, .gallery-container .gallery-right-side .gallery-box2 .uniform-container {
    width: 360px;
    height: 300px;
  }
  .gallery-container .gallery-right-side .gallery-box3 {
    flex-direction: column;
    width: 360px;
  }
  .gallery-container .gallery-right-side .gallery-box3 .guides-container, .gallery-container .gallery-right-side .gallery-box3 .gear-container, .gallery-container .gallery-right-side .gallery-box3 .lifeskills-container {
    width: 360px;
    height: 300px;
  }
}
.generalButton, .buttons-container button {
  background: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .application-content .application-left-content button, .mainpage-text-container button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.homeButton:hover, .application-content .application-left-content button:hover, .mainpage-text-container button:hover {
  background-color: #927649;
}

.discordButton, .application-content .application-left-content .discord-button {
  background-color: #6b81cf;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.discordButton:hover, .application-content .application-left-content .discord-button:hover {
  background-color: #5465a3;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

@media screen and (max-width: 1280px) {
  .discordButton, .application-content .application-left-content .discord-button {
    height: 70px;
    width: 280px;
  }
  .homeButton, .application-content .application-left-content button, .mainpage-text-container button {
    height: 70px;
    width: 280px;
  }
}
.application-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(44, 44, 44);
  background-image: url("/applybgedited.jpg");
  background-position: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  padding: 450px;
}
.application-container h1 {
  font-size: 40px;
  margin-bottom: 35px;
}

.application-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.application-content .application-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 700px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  border-radius: 1em;
  margin-right: 10px;
}
.application-content .application-left-content img {
  width: 100px;
  height: 100px;
}
.application-content .application-left-content .application-text-container h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.application-content .application-left-content .application-text-container p {
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.application-content .application-left-content .application-text-container .masterNames {
  font-weight: 800;
}
.application-content .application-left-content .aplly-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.application-content .application-left-content button {
  margin: 5px;
}
.application-content .application-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 700px;
  height: 700px;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 10px;
}
.application-content .application-right-content img {
  display: none;
  border-radius: 1em;
  width: 650px;
  height: 700px;
}
.application-content .application-right-content .application-text-container2 h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.application-content .application-right-content .application-text-container2 p {
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.application-content .application-right-content .application-text-container2 .requirements-container {
  padding-left: 60px;
  padding-right: 60px;
}
.application-content .application-right-content .application-text-container2 li {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}
.application-content .application-right-content .application-text-container2 .masterNames {
  font-weight: 800;
}

@media screen and (max-width: 1280px) {
  .application-container {
    background-repeat: no-repeat;
  }
  .application-container h1 {
    margin-bottom: 100px;
  }
  .application-container .application-left-content {
    width: 600px;
    height: 700px;
  }
  .application-container .application-left-content img {
    width: 90px;
    height: 90px;
  }
  .application-container .application-right-content {
    width: 600px;
    height: 700px;
  }
}
@media screen and (max-width: 768px) {
  .application-container {
    flex-direction: column;
    background-size: cover;
    height: 260vh;
    padding: 0;
    justify-content: space-between;
  }
  .application-container h1 {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .application-container .application-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 260vh;
  }
  .application-container .application-content .application-left-content {
    margin: 0;
    margin-bottom: 30px;
    width: 350px;
    height: 900px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .application-container .application-content .application-left-content .application-text-container h2 {
    font-size: 35px;
  }
  .application-container .application-content .application-left-content .application-text-container p {
    padding-left: 15px;
    padding-right: 15px;
  }
  .application-container .application-content .application-right-content {
    margin: 0;
    width: 350px;
    height: 580px;
  }
  .application-container .application-content .application-right-content .application-text-container2 h2 {
    font-size: 35px;
  }
  .application-container .application-content .application-right-content .application-text-container2 p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.generalButton, .buttons-container button {
  background: #b89358;
  width: 180px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.generalButton:hover, .buttons-container button:hover {
  background-color: #927649;
}

.homeButton, .mainpage-text-container button, .application-content .application-left-content button {
  background-color: #b89358;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.homeButton:hover, .mainpage-text-container button:hover, .application-content .application-left-content button:hover {
  background-color: #927649;
}

.discordButton, .application-content .application-left-content .discord-button {
  background-color: #6b81cf;
  height: 80px;
  width: 300px;
  border: 0;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
}
.discordButton:hover, .application-content .application-left-content .discord-button:hover {
  background-color: #5465a3;
}

.searchbar, .input-container input {
  background-color: white;
  margin: 10px;
  width: 250px;
  height: 25px;
  border: 0;
  border-radius: 2px;
}

@media screen and (max-width: 1280px) {
  .discordButton, .application-content .application-left-content .discord-button {
    height: 70px;
    width: 280px;
  }
  .homeButton, .mainpage-text-container button, .application-content .application-left-content button {
    height: 70px;
    width: 280px;
  }
}
.footer-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 500px;
  background-color: rgb(12, 12, 12);
}

.top-footer-container {
  margin: 0;
  background-color: rgb(12, 12, 12);
  width: 100%;
  height: 20px;
}

.footer-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 455px;
}
.footer-content-container .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 455px;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-content-container .footer-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  padding: 10px;
  font-size: 20px;
  text-align: start;
}
.footer-content-container .footer-content .footer-content-image {
  width: 15%;
}
.footer-content-container .footer-content .footer-content-image img {
  border: 0;
  width: 130px;
  height: 130px;
}
.footer-content-container .footer-content-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(12, 12, 12);
  height: 455px;
  width: 20%;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer-content-container .footer-content-socials .discord-container, .footer-content-container .footer-content-socials .twitter-container, .footer-content-container .footer-content-socials .instagram-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 20px;
  margin-bottom: -30px;
  cursor: pointer;
  text-align: start;
  font-size: 25px;
  font-weight: 800;
  background-color: rgb(12, 12, 12);
  width: 220px;
  height: 40px;
}
.footer-content-container .footer-content-socials .discord-container p, .footer-content-container .footer-content-socials .twitter-container p, .footer-content-container .footer-content-socials .instagram-container p {
  display: flex;
  text-align: start;
}
.footer-content-container .footer-content-socials .discord-container img, .footer-content-container .footer-content-socials .twitter-container img, .footer-content-container .footer-content-socials .instagram-container img {
  filter: brightness(0) invert(1);
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.footer-content-container .footer-content-socials .stacks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 20%;
  margin-top: 35px;
}
.footer-content-container .footer-content-socials .stacks-container .stacks-container-images {
  justify-content: space-around;
  width: 300px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-content-container .footer-content-socials .stacks-container .stacks-container-images img {
  width: 40px;
  height: 40px;
  margin: 10px;
  filter: brightness(0) invert(1);
}

.all-rights-container {
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 25px;
}
.all-rights-container h4 {
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footer-container {
    height: 180vh;
  }
  .footer-content-container {
    flex-direction: column;
    height: 155vh;
  }
  .footer-content-container .footer-content {
    padding: 0;
    width: 100%;
    flex-direction: column;
  }
  .footer-content-container .footer-content p {
    width: 100%;
    margin-top: 30px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-content-container .footer-content .footer-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-content-container .footer-content .footer-content-image img {
    width: 80px;
    height: 80px;
  }
  .footer-content-container .footer-content-socials {
    width: 100%;
    height: 90vh;
    padding: 0;
  }
  .footer-content-container .footer-content-socials .discord-container, .footer-content-container .footer-content-socials .twitter-container, .footer-content-container .footer-content-socials .instagram-container {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
  .footer-content-container .footer-content-socials .discord-container img, .footer-content-container .footer-content-socials .twitter-container img, .footer-content-container .footer-content-socials .instagram-container img {
    margin: 1;
  }
  .footer-content-container .footer-content-socials .stacks-container {
    width: 100%;
    margin-top: 30px;
  }
  .footer-content-container .footer-content-socials .stacks-container img {
    filter: contrast(1.2) brightness(1);
  }
  .top-footer-container {
    height: 10vh;
  }
  .all-rights-container {
    padding: 20px;
    text-align: center;
    height: 15vh;
  }
}
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}
* img {
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}  /*# sourceMappingURL=globals.css.map */